section {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

section.title > * {
    width: 100%;
    max-width: 1024px;
}

.title-c2a {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4rem 2rem;
}

/* SLIDES */

.project-title-img {
    display: relative;
}


.slides {
    display: grid;
    min-width: none;
    grid-template-columns: 70% 30%; /*couldn't come up with anything else that would work */
    grid-template-columns: minmax(80%, min-content) minmax(20%, 640px);
    gap: 2rem;
    grid-template-rows: min(100svh, min-content);
    grid-template-areas: "content nav";
}

#left-side {
    grid-area: content;
    
}

.slide-content { /* together with slide's number and title */
    margin: 2rem;
}

#right-side {
    grid-area: nav;
    width: 100%;
    height: 100svh;
    position: sticky;
    top: 5rem;
}

.side-menu {
    position: sticky;
    display: flexbox;
    flex-direction: column;
    text-wrap: nowrap;
    text-align: right;
    padding: 2rem;
    line-height: min(4rem, 10svh);
    color: white;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    float: right;
    
    background-size: cover;
}

.side-menu#uxb {
    background-image: url("../images & icons/UXberries/Rectangle\ 2.png");
}

.side-menu#ct {
    background-image: url("../images & icons/Come\ Together/Rectangle\ 2.png");
}

.titleSlide {
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover;
    color: white;
    height: 100svh;
    text-align: left;
}

#uxbTitle {
    background-image: url("../images & icons/UXberries/UXb title.png");
}

#ctTitle {
    background-image: url("../images & icons/Come Together/CTtitle.png");
}

#workTitle {
    background-image: url("../images & icons/Work/worktitle.png");
}

#kdTitle {
    background-image: url("../images & icons/krakowdragons/KDtitle.png");
}

.photo-cred {
    position: relative;
    /*tbd*/
}

#uxb-01 {
    display: grid;
    /*grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);*/
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    max-width: 100%;
    gap:1rem;
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

.img-wrap img {
    object-fit: contain;
    height:100%;
    width:100%;
}

#uxb-01 img {
    max-width: 20rem;
}

.primary-title {
    background-color: white;
    border: none;
    padding: 2rem 4rem;
    font-size: 1.25rem;
}

.slide-title-container {
    display: flex;
    max-height: 5rem; /*idk about this*/
    gap: .75rem;
    margin-top: 8rem;
}

.slide-number {
    grid-area: num;
    align-self: center;
    font-size: 4.75rem;
    opacity: .25;
}

.slide-title {
    grid-area: title;
    margin: .25rem 0;
}

.slide-subtitle {
    grid-area: sub;
    margin: .5rem 0;
}

/* ACCORDION */

.accordion .exp-content {
    position: relative;
}

.accordion .exp-content .label {
    position: relative;
}

.exp-content .chevron {
    font-size: 1.25em;
    transition: all .3s;
}

.exp-content.active .chevron {
    transform: rotate(180deg);
}

.exp-content .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: .3s;
    overflow-y: auto;
}

.points {
    list-style-type: disc !important;
    line-height: 2rem;
}

.exp-content.active .content {
    height: fit-content;
    padding: 0 2rem;
}

#uxb-02-acc {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    text-wrap: nowrap;
}

/* TABS */

.tabs > * {
    font-size: 1.5rem;
}

[role="tablist"] {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    display: flex;
  }
  
  [aria-selected="true"] {
    text-decoration-thickness: .25em;
    text-underline-offset: .5em;
    color: var(--primary-pressed);
  }