:root {
    font-size: 12px;
    
    --primary: #0c132c;
    --primary-hover: #1c2a5c;
    --primary-pressed: #2f407b;
    --error: rgb(201, 28, 28);
    --success: #14a514;
    --bg-gradient: linear-gradient(to right, white, #e9f1ff);
    --dropdown-gradient: linear-gradient(to right, rgba(235, 242, 255, 0.8), rgba(255, 255, 255, 0.8));
  }
  
@font-face {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
}
  
html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background-image: var(--bg-gradient);
    color: var(--primary);
    font-family: 'Nunito Sans', sans-serif;
}

body > * {
    width: min(100%, 1200px);
    align-self: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 100svh;
    padding: 8rem 2rem;
}

.section-title {
    text-align: center;
}

h1, h2, h3 {
    font-weight: 400;
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.material-symbols-outlined, .fa {
    display: inline-flex;
    vertical-align: bottom;
    font-size: 1.25rem;
}

.project-desc {
    font-size: .875rem;
}

header {
    width: 100%;
    grid-column: 2/3;
    padding: .5rem 2rem .5rem 2rem;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: var(--bg-gradient);
    z-index: 1; /*idk why mobile menu still pops up before this*/
}

header-navbar, header-navbar-project {
    width: min(100%, 1024px);
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    float: right;
    width: fit-content;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
}

.navbar > ul {
    display: inline block;
    opacity: 0;
    position: fixed;
    padding: 2rem;
    right: 0;
    background-image: var(--dropdown-gradient);
    text-align: right;
    transform: translateY(-20px);
    transition: all .3s;
    z-index: -1;
}

.burger-icon {
    float: right;
    display: block;
    align-self: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s;
}

.button {
    display: inline-flex;
    box-sizing: border-box !important;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary);
    padding: 1.25rem 2rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);
    border-radius: .5rem;
    scroll-behavior: smooth;
    white-space: nowrap;
    &:hover {
        color: var(--primary-hover);
        text-shadow: .5px 0 0, -.5px 0 0;
        /*font-weight: 600;
        padding: 1.25rem 1.88rem; temporary fix for the changing size on hover*/
        transition: all 0.15s ease;
    }
    &:active {color: var(--primary-pressed);
        transition: all 0.1s ease;
    }
}

.button-primary {
    padding: 1.5rem 4rem;
    background-color: var(--primary);
    border-radius: .5rem;
    color: white;
    &:hover {
        /*padding: 1.5rem 3.75rem; temporary fix for the changing size on hover*/
        color: white; background-color: var(--primary-hover);
    }
    &:active {
        background-color: var(--primary-pressed);
    }
}	

.c2a-wrap{
    display: flex;
    justify-content: center;
}

.button-navbar {

    padding: .75rem 2rem !important;
    border: none;
    /*width: 9rem;
    &:hover{
        font-weight: 600;
    }*/
}

ul {
    padding-left: 0;
  }

.dropdown {
    display: flex;
    width: 35%; /*idk*/
    border-radius: 0 0 .5rem .5rem;
    padding: 0 2rem ;
    flex-direction: column;
}

.dropdown > * {
    display: block;
    padding: none;
    align-self: flex-start;
}

.button-contact {
    justify-content: left;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 100svh;
}

#aboutMeFlex{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}

#aboutMePhoto {
    display: none;
}
  
  
#contactGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    align-items: top;
    justify-content: center;
}

.vl {
    border-top: 1px solid var(--primary);
    width: 100%;
}
  
#findMeTitle {
    grid-area: a1;
}

#findMe {
    grid-area: a2;
    display: flex;
    flex-direction: column;
    flex-grow: .75;
    padding-bottom: 1.5rem;
    justify-content: center;
}


#contact{
    align-items: center;
    padding: 2rem;
}

#contactTitle {
    grid-area: b1;
}

#contactForm {
    grid-area: b2;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.project {
    display: grid;
    text-align: center;
}

.project-img {
    max-width: 12.5rem;
    max-height: 12.5rem;
    justify-self: center;
}

.pill-containter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pill {
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
    color: white;
    padding: .25rem 1.25rem;
    font-size: .75rem;
    text-decoration: none;
    display: inline-block;
    margin: .25rem .125rem;
}

.read-more {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5em;
    &:focus-within {
        transform:scale(1.02,1.02);
        transition: all 0.5s;
    }
}

.form-label {
    display: block;
    font-size:.75rem;
    /*opacity: 0;
    transition: all 0.3s;
    transform: translateX(-50px);*/
}

/*.focused > .form-label {
    transform: translateX(0px);
    opacity: 1;
}*/

.form-input {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    transition:all .6s;
    &::placeholder{
        color: #aaa;
    }
    &:focus {
        box-shadow: none;
        border-color: var(--primary-pressed);
        outline: none;
    }
    &:focus:valid {
        border-color: var(--success) !important;
        }
    &:focus:invalid { /* might change it later on*/
        border-color: var(--error); 
    }
    }

textarea {
    resize: none;
    font-family: inherit;
}

#sendButton {
    display: block;
    margin: auto;
    padding: .75rem 2rem;
}

/* TABLET BREAKPOINT*/

@media screen and (min-width: 680px){
    :root {
        font-size: 14px;
    }

    .burger-icon {
        display: none;
    }


    .navbar > ul {
        float: right;
        display: inline-grid;
        position: static;
        text-align: center;
        grid-template-columns: repeat(4, auto);
        padding: 0;
        opacity: 1; 
        background-image: none;
        text-wrap: nowrap;
        transform: translateY(0px);
        z-index: 1;
    }

    .navbar > ul > li {
        display: inline-block;
    }

    .dropdown {
        display: flex;
        align-items: flex-start;
        position: absolute;
        margin-left:-2rem; /*temporary*/
        background-image: var(--dropdown-gradient);
    }
    
    .dropdown > * {
        align-self: center;
    }

    #aboutMePhoto {
        display: inline; /*check that later*/
    }

    #projects:not(:hover) .dropdown {
        display: none;
    }

    #hero {
        flex-direction: row;
    }

    .button-primary {
        padding: 1.5rem 3rem;
        /*&:hover{
            padding: 1.5rem 2.75rem;
        }*/
    }

    .navbar > ul > li {
        display: block;
        line-height: 2rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #contactGrid {
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: min-content max-content;
        grid-template-areas: 
                            "a1 sep b1"
                            "a2 sep b2";
        gap: 2rem;
        align-items: top;
        justify-content: center;
    }
    
    .vl {
        grid-area: sep;
        border-left: 1px solid var(--primary);
        opacity: .6;
        height: 100%;
    }

}
  
/*DESKTOP BREAKPOINT*/

@media screen and (min-width: 960px){
    :root {
        font-size: 16px;
    }

    .button-primary {
        padding: 1.5rem 4rem;
        &:hover{
            /*padding: 1.5rem 2.75rem;*/
        }
    }

  }