:root {
  --primary-color: #0c132c;
  --primary-hover: #1c2a5c;
  --primary-pressed: #2f407b;
  --error: rgb(201, 28, 28);
  --success: #14a514;
  --bg-gradient: linear-gradient(to right, white, #e9f1ff);
}

@font-face {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0px auto;
	background-image: var(--bg-gradient);
	color: var(--primary-color);
	font-family: 'Nunito Sans', sans-serif;
}

header, section {
	width: 1040px;
}

 
section {
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: stretch;
	min-height: 80vh;
	padding: 96px 0 0 96px;
}

/* why is everything bold without this? */
h1{
	font-size: 32px;
	font-weight: 200;
}

h2 {
	font-size: 28px;
	font-weight: 200;
}

p {
	font-size: 20px;
	font-weight: 400;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	padding: 8px 32px 8px 32px;
	background-image: var(--bg-gradient);
	width: 100%;
	max-width: 1040px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button {
	text-decoration: none;
	color: var(--primary-color);
	padding: 12px 32px;
	font-family: inherit;
	font-size: 16px;
	background-color: transparent;
	border-width: 1px;
	border-color: var(--primary-color);
	scroll-behavior: smooth;
	&:hover {color: var(--primary-hover);
			transition: all 0.15s ease;
	}
	&:active {color: var(--primary-pressed);
		transition: all 0.1s ease;
	}
}

.button-primary {
	padding: 24px 64px;
	border-radius: 12px;
	background-color: var(--primary-color);
	color: white;
	&:hover {color: white; background-color: var(--primary-hover);
	}
	&:active {background-color: var(--primary-pressed);
	}
}	

.c2a-wrap{
	display: flex;
	justify-content: center;
}

.button-navbar {
	padding: 12px 32px;
	border: none;
}
 
#Hero {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	margin: 96px 0 0 96px;
	height: 100vh;
}

/*#AboutMe {

}*/

#AboutMeFlex {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-between;
	margin: 96px 0 0 96px;
	height: 90%;
}

.project-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-row: auto auto;
	grid-column-gap: 48px;
  	grid-row-gap: 48px;
}

.project {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

.project-img {
	max-width: 200px;
	max-height: 200px;
}

/*.pill-container {
	
}*/

.container {
	width: 600px;
}

.form-group {
	margin-bottom:1.5em;
	&:focus-within {
		transform:scale(1.02,1.02);
		transition: all 0.5s;
	}
}

.form-label {
	display: block;
	font-size:.75em;
	opacity: 0;
	transition: all 0.3s;
	transform: translateX(-50px);
}

.focused > .form-label {
	transform: translateX(0px);
	opacity: 1;
}

.form-input {
	box-shadow: none;
	border-radius: 0;
	border-color: #ccc;
	border-style: none none solid none;
	width: 100%;
	transition:all .6s;
	&::placeholder{
		color: #aaa;
	}
	&:focus {
		box-shadow: none;
		border-color: var(--primary-pressed);
		outline: none;
	}
	&:valid {
		border-color: var(--success) !important;
		}
	&:focus:invalid { /* might change it later on*/
		border-color: var(--error); 
	}
	}

textarea {
	resize: none;
}

#sendButton {
	display: block;
	margin: auto;
}

/*form {
	display: flex;
	align-items: center;
	align-content: space-around;
}*/